body {
    background-color: hsl(333, 100%, 91%);
}

.container {
    width: 1000px;
    margin: 0 auto;
    border: 8px solid rgb(255, 234, 246);
    padding: 50px;
    background-color: rgb(255, 216, 239);
   
}
 
.nav {
    list-style:none;
    text-align:center;
}
 
.nav li {
    display:inline;
    margin-right: 0px;
}